@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (min-width: 320px) and (max-width: 991px) {
  * {
    margin: 0;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo_mobile {
    margin: 36px 0 44.6px 35px;
  }
  .logo_mobile img {
    width: 13.8vw;
    height: 10vh;
  }
  .course_date {
    display: flex;
    
  }
  .course_date img {
    width: 2.7vw;
    height: 2vh;
  }
  .course_date p {
    width: 16vw;
    font-size: 0.6em;
  }
  .course_date {
    margin-right: 3.7px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .time_img {
    margin-left: 11.6px;
    margin-right: 4.6px;
  }
  .producer_img {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
  }
  .producer_img img {
    width: 37.7vw;
  }
  .p_header {
    font-family: Roboto Slab;
    font-size: 37px;
    font-weight: 700;
    width: 77.8vw;
  }
  .outhor {
    background: #1e4681;
  }
}
