@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: center;
}

body {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    color: #000000;
}

h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 101.38%;
}

h2 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 101.38%;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 101.38%;
}

h4 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    line-height: 130%;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 991px) {

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 7vw;
    }

    h3 {
        font-size: 4vw;
    }

    h4 {
        font-size: 3.2vw;
    }

    /*       Tamerlan section start        */

    /*        header start          */
    .header-container {
        padding-top: 5vw;
        padding-left: 10vw;
        margin-bottom: 2vw;
    }

    .header-logo {
        margin-bottom: 12vw;
    }

    .header-logo img {
        width: 14vw;
    }

    .header-info {
        display: flex;
    }

    .header-info-content {
        margin-right: 7vw;
    }

    .header-info-content p {
        font-size: 2.5vw;
    }


    .header-info-content img {
        width: 2.7vw;
        margin-right: 1vw;
    }

    /*        header end          */

    /*        main start           */
    /* movie section start      */
    .movie {
        margin-bottom: 21vw;
    }

    .movie-container {
        padding-left: 10vw;
    }

    .movie-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin-bottom: 10.5vw;
    }

    .movie-header-content h1 {
        margin-bottom: 3.5vw;
    }

    .movie-header-content p {
        font-size: 2.6vw;
        width: 56vw;
    }

    .movie-header-img {
        margin-right: 8.5vw;
    }

    .movie-header-img img {
        width: 38vw;
    }


    .movie-main-comment {
        width: 60vw;
        height: 25vw;
        color: #FFFFFF;
        background: #1E4681;
        border-radius: 0.6vw;

    }

    .content {
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: normal;
        width: 53vw;
        padding: 2.4vw 3.2vw 0 3.2vw;
        font-size: 2.7vw;
    }

    .author {
        font-size: 2.7vw;
        line-height: 130%;
        padding-right: 3vw;
        margin-top: 2vw;

        text-align: right;
    }

    /*  movie section end */

    /*  course section start */
    .course {
        margin-bottom: 21vw;
    }

    .course-container {
        padding-left: 10vw;
    }

    .course-header {
        margin-bottom: 5.5vw;
    }


    .course-main-content {
        width: 82vw;
        margin-bottom: 4.2vw;
    }

    .course-main-content p {
        font-size: 3.2vw;
    }

    .course-main-content p.course-main-content-first {
        margin-bottom: 5.5vw;
    }

    .course-main-img {
        display: flex;
        justify-content: center;
        padding-right: 10vw;
        margin-bottom: 12vw;
    }

    .cameraman {
        width: 46vw;
    }

    .course-footer-img {
        display: none;
    }

    .course-footer-content {
        display: flex;
        flex-wrap: wrap;
    }

    .course-footer-content-box {
        margin-bottom: 9vw;
        margin-right: 48px;
    }

    .course-footer-content-box h4 {
        margin-bottom: 0.2vw;
    }

    .course-footer-content-box p {
        width: 23vw;
        font-size: 2.6vw;
        padding-right: 2vw;
    }

    /* course section end */

    /*          Tamerlan section end               */
  }
  /* TABLET */
  @media (min-width: 992px) and (max-width: 1279px) {

    h1 {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 3.8vw;
    }

    h3 {
        font-size: 2vw;
    }

    h4 {
        font-size: 1.8vw;
    }
    /*       Tamerlan section start        */

    /*        header start          */
    .header-container {
        padding-top: 2.5vw;
        padding-left: 8vw;
        margin-bottom: 2vw;
    }

    .header-logo {
        margin-bottom: 7vw;
    }

    .header-logo img {
        width: 8vw;
    }

    .header-info {
        display: flex;
    }

    .header-info-content {
        margin-right: 3vw;
    }

    .header-info-content p {
        font-size: 1.5vw;
    }


    .header-info-content img {
        width: 1.7vw;
        margin-right: 1vw;
    }

    /*        header end          */

    /*        main start           */
    /* movie section start      */
    .movie {
        margin-bottom: 8vw;
    }

    .movie-container {
        padding-left: 8vw;
    }

    .movie-header {
        display: flex;
        margin-bottom: 6vw;
    }

    .movie-header-content {
        margin-right: 10vw;
    }

    .movie-header-content h1 {
        width: 44vw;
        margin-bottom: 3vw;
    }

    .movie-header-content p {
        font-size: 1.5vw;
        width: 31vw;
    }

    .movie-header-img {
        margin-right: 17vw;
    }

    .movie-header-img img {
        width: 22vw;
    }

    .movie-main {
        display: flex;
        justify-content: center;
        padding-right: 15vw;
    }

    .movie-main-comment {
      width: 34vw;
      /* height: 25vw; */
      color: #FFFFFF;
      background: #1E4681;
      border-radius: 0.6vw;
  
  }
  
  .content {
      font-family: Roboto Slab;
      font-style: normal;
      font-weight: normal;
      width: 33vw;
      padding: 1.4vw 2vw 0 1.9vw;
      font-size: 1.8vw;
  }
  
  .author {
      font-size: 1.4vw;
      line-height: 130%;
      padding-right: 3vw;
      margin-top: 0.8vw;
      margin-bottom: 15px;
      text-align: right;
  }

    /*  movie section end */

    /*  course section start */
    .course {
        margin-bottom: 21vw;
    }

    .course-container {
        padding-left: 10vw;
    }

    .course-header {
        margin-bottom: 5.5vw;
    }

    .course-main {
        display: flex;
        margin-bottom: 5.2vw;
    }

    .course-main-content {
        width: 46vw;
        margin-right: 14vw;
    }

    .course-main-content p {
        font-size: 1.7vw;
    }

    .course-main-content p.course-main-content-first {
        margin-bottom: 2.8vw;
    }

    .course-main-img {
        display: flex;
        justify-content: center;
        padding-right: 10vw;
    }

    .cameraman {
        width: 21.8vw;
    }

    .course-footer-container {
        display: flex;
    }

    .course-footer-img {
        width: 16vw;
        margin-right: 13vw;
    }

    .course-footer-content {
        display: flex;
        align-items: center;
    }

    .course-footer-content-box {
        margin-right: 6.6vw;
    }

    .course-footer-content-box h4 {
        margin-bottom: 0.5vw;
    }

    .course-footer-content-box p {
        width: 10.5vw;
        font-size: 1.3vw;
    }

    /* course section end */

    /*          Tamerlan section end               */
}
/* DESKTOP */
@media (min-width: 1281px) {
  h1 {
    font-size: 5.5vw;
}

h2 {
    font-size: 3.8vw;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 1.8vw;
}
/*       Tamerlan section start        */

/*        header start          */
.header-container {
    padding-top: 2.5vw;
    padding-left: 8vw;
    margin-bottom: 2vw;
}

.header-logo {
    margin-bottom: 7vw;
}

.header-logo img {
    width: 8vw;
}

.header-info {
    display: flex;
}

.header-info-content {
    margin-right: 3vw;
}

.header-info-content p {
    font-size: 1.5vw;
}


.header-info-content img {
    width: 1.7vw;
    margin-right: 1vw;
}

/*        header end          */

/*        main start           */
/* movie section start      */
.movie {
    margin-bottom: 8vw;
}

.movie-container {
    padding-left: 8vw;
}

.movie-header {
    display: flex;
    margin-bottom: 6vw;
}

.movie-header-content {
    margin-right: 10vw;
}

.movie-header-content h1 {
    width: 44vw;
    margin-bottom: 3vw;
}

.movie-header-content p {
    font-size: 1.5vw;
    width: 31vw;
}

.movie-header-img {
    margin-right: 17vw;
}

.movie-header-img img {
    width: 22vw;
}

.movie-main {
    display: flex;
    justify-content: center;
    padding-right: 15vw;
}

.movie-main-comment {
  width: 34vw;
  /* height: 25vw; */
  color: #FFFFFF;
  background: #1E4681;
  border-radius: 0.6vw;

}

.content {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  width: 33vw;
  padding: 1.4vw 2vw 0 1.9vw;
  font-size: 1.8vw;
}

.author {
  font-size: 1.4vw;
  line-height: 130%;
  padding-right: 3vw;
  margin-top: 0.8vw;
  margin-bottom: 15px;
  text-align: right;
}

/*  movie section end */

/*  course section start */
.course {
    margin-bottom: 21vw;
}

.course-container {
    padding-left: 10vw;
}

.course-header {
    margin-bottom: 5.5vw;
}

.course-main {
    display: flex;
    margin-bottom: 5.2vw;
}

.course-main-content {
    width: 46vw;
    margin-right: 14vw;
}

.course-main-content p {
    font-size: 1.7vw;
}

.course-main-content p.course-main-content-first {
    margin-bottom: 2.8vw;
}

.course-main-img {
    display: flex;
    justify-content: center;
    padding-right: 10vw;
}

.cameraman {
    width: 21.8vw;
}

.course-footer-container {
    display: flex;
}

.course-footer-img {
    width: 16vw;
    margin-right: 13vw;
}

.course-footer-content {
    display: flex;
    align-items: center;
}

.course-footer-content-box {
    margin-right: 6.6vw;
}

.course-footer-content-box h4 {
    margin-bottom: 0.5vw;
}

.course-footer-content-box p {
    width: 10.5vw;
    font-size: 1.3vw;
}

/* course section end */

/*          Tamerlan section end               */
}
}
