@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile */
@media (min-width: 320px) and (max-width: 991px) {
    body{
        background-color: #FFFFFF;
        font-family: 'Roboto';
    } 

    .p-kurs{
        display: block;
    }   

    .p-kurs-title h1{
        padding-top: 22.5vw;
        padding-left: 15vw;
        margin-bottom: 9.5vw;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 7vw;
        line-height: 101.38%;
        color: #000000;
    }

    .p-kurs-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .p-kurs-infos{
        margin-bottom: 6.5vw;
        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
        border-radius: 7.5%;
        /* width: 50vw;
        height: 41vw; */
    }

    .p-kurs-images img{
        width: 50vw;
        height: 20vw;
    }

    .p-kurs-infos h1{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 3.7vw;
        line-height: 130%;
        color: #000000;

    }
    .p-kurs-infos p{
    
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 3.2vw;
        line-height: 130%;
        color: #000000;
    }

    .insan{
        background-color:  #EFEFEF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .insan-title h1{
        padding-top:12vw ;
        margin-bottom: 6vw;
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 7vw;
        line-height: 101.38%;
        color: #000000;
    }

    .insan-info{
        background-color: #000;
        border-radius: 7%;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        width: 80vw;
    }

    .insan-info-text{
        width: 65vw;
    }

    .insan-info-text p{
        font-size: 2.5vw;
        line-height: 150%;
        /* color: #000000; */
    }

    .insan-info-in{
        display: flex;
    

    }

    .insan-info-in-photo img{
        width: 21vw ;
        height: 22hw ;
        margin-top: 5.5vw;
    }

    .insan-info-in-name h1{
        font-family: Roboto Slab;
        font-style: normal;
        font-weight: bold;
        font-size: 3.7vw;
        line-height: 101.38%;

        padding-top: 10.5vw;
        margin-bottom:3vw ;
        /* color: #000000; */
    }
    .insan-info-in-name img{
        width:4vw ;
        height:4.5vw ;
    }


}

/* Tablet */
@media (min-width: 992px) and (max-width: 1279px) {

}

/* Desktop */
@media (min-width:  1280px) {

}
